<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>无名小站</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    {#    <link rel="icon" type="image/png" href="assets/i/favicon.png">#}
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='i/favicon.png') }}">
    <meta name="mobile-web-app-capable" content="yes">
    {#    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">#}
    <link rel="icon" sizes="192x192" href="{{ url_for('static',filename='i/app-icon72x72@2x.png') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    {#    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">#}
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static',filename='i/app-icon72x72@2x.png') }}">
    {#    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">#}
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    {#    <link rel="stylesheet" href="assets/css/amazeui.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/amazeui.min.css') }}">
    {#    <link rel="stylesheet" href="assets/css/app.css">#}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
</head>


{#<link ... href="{{ url_for('static', filename='stylesheets/style.css') }}" />#}


<body id="blog">

<div class="container">
    {% include "header.html" %}
    <div>
        <!-- content srart -->
    <hr>
        <div class="am-g am-g-fixed blog-fixed">
            {% block content %}
            {% endblock %}
{#side bar start!#}
            <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
                <div class="blog-sidebar-widget blog-bor">
                    <h2 class="blog-text-center blog-title"><span>About Me</span></h2>
                    {#            <img src="assets/i/f14.jpg" alt="about me" class="blog-entry-img" >#}
                    <img src="{{ url_for('static',filename='i/f14.jpg') }}" alt="about me" class="blog-entry-img">
                    <p>Yansheng Liu</p>
                    <p>Full-stack engineer in the future</p>
                    <p>But first of all, I need a job.</p>
                </div>
{#                <div class="blog-sidebar-widget blog-bor">#}
{#                    <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>#}
{#                    <!--Contact information!-->#}
{#                    <p>#}
{#                        <a href="#"><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>#}
{#                        <a href="#"><span class="am-icon-github am-icon-fw blog-icon"></span></a>#}
{#                        <a href="#"><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>#}
{#                        <a href="#"><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>#}
{#                        <a href="#"><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>#}
{#                    </p>#}
{#                </div>#}
                <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
                    <h2 class="blog-title"><span>TAG cloud</span></h2>
                    <div class="am-u-sm-12 blog-clear-padding">
                        <a href="#" class="blog-tag">this is tag</a>
                    </div>
                </div>
                <!--<div class="blog-sidebar-widget blog-bor">-->
                <!--<h2 class="blog-title"><span>么么哒</span></h2>-->
                <!--<ul class="am-list">-->
                <!--<li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>-->
                <!--<li><a href="#">我把最深沉的秘密放在那里。</a></li>-->
                <!--<li><a href="#">你不懂我，我不怪你。</a></li>-->
                <!--<li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>-->
                <!--</ul>-->
                <!--</div>-->
            </div>
{#        end side bar!#}
        </div>
    </div><!--/row-->
    {% include "footer.html" %}<!--import common/footer-->
</div>


<!--[if (gte IE 9)|!(IE)]><!-->
{#<script src="assets/js/jquery.min.js"></script>#}
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
{#<script src="assets/js/amazeui.min.js"></script>#}
<script src="{{ url_for('static',filename='js/amazeui.min.js') }}"></script>
<!-- <script src="assets/js/app.js"></script> -->
</body>
</html>